<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="system.reliability.model"
            class="com.reliability.system.SystemPackage"
            genModel="model/reliability.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="system"
            class="com.reliability.system.util.SystemResourceFactoryImpl"/>
   </extension>

</plugin>
