<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.system.reliability.modeler.editor.ReliabilityModelEditor"
            contributorClass="com.system.reliability.modeler.editor.EditorActionBarContributor"
            default="false"
            extensions="view"
            icon="icons/cube_molecule.png"
            id="com.system.reliability.editorId"
            name="Reliability Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.system.reliability.modeler.ReliabilityPerspectiveFactory"
            fixed="true"
            icon="icons/cube_molecule.png"
            id="com.system.reliability.modeler.perspectiveId"
            name="RAT">
      </perspective>
   </extension>

</plugin>
