<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.reliability.system.view.ui.ViewModelWizardID"
            name="%_UI_ViewModelWizard_label"
            class="com.reliability.system.view.ui.ViewModelWizard"
            category="system.reliability.model.category"
            icon="icons/full/obj16/cube_molecule.png">
         <description>%_UI_ViewModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category
            id="system.reliability.model.category"
            name="Reliability">
      </category>
   </extension>

</plugin>
