<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.reliability.system.view.ui.ViewModelWizardID"
            name="%_UI_ViewModelWizard_label"
            class="com.reliability.system.view.ui.ViewModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ViewModelFile.gif">
         <description>%_UI_ViewModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.reliability.system.view.ui.ViewEditorID"
            name="%_UI_ViewEditor_label"
            icon="icons/full/obj16/ViewModelFile.gif"
            extensions="view"
            class="com.reliability.system.view.ui.ViewEditor"
            contributorClass="com.reliability.system.view.ui.ViewActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.reliability.system.ui.SystemModelWizardID"
            name="%_UI_SystemModelWizard_label"
            class="com.reliability.system.ui.SystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/cube_molecule.png">
         <description>%_UI_SystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.reliability.system.ui.SystemEditorID"
            name="%_UI_SystemEditor_label"
            icon="icons/full/obj16/cube_molecule.png"
            extensions="system"
            class="com.reliability.system.ui.SystemEditor"
            contributorClass="com.reliability.system.ui.SystemActionBarContributor">
      </editor>
   </extension>

</plugin>
